<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <!-- <link rel="stylesheet" href="sty.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='/sty.css') }}">
</head>
<body>

  <nav class='header'>
          <div class='navbar'>
    <div class='navbar-icon'>
    <img src=" " width="45" />
      <a href='/'>
        <img src="../static/spon2.png" alt="logo" width="180" height="150" />
    <p> Comment Analyser</p>
         </a>
    </div>

    </div>
  </nav>
    <section>
        <div class='analyser'>
            <h1>Comment Analyser</h1>
            <p>Check Negative and Positive Comments.</p>
            <div class='analyser-input'>
              <form action='/process' method= 'POST' class='container_form'>
            <input type='text' placeholder='Enter the Link here' name="url_input"/>
            <button type='submit'>Check Comment</button>
</form>
            </div>

                <p>Try Comment Analyser to analyse the Negative and Positive Cooments.</p>
        </div>
    </section>
  <footer >
    <p> Copyright © 2023 You tube video comment analyser. All rights reserved | Terms and conditions</p>
  </footer>
</body>
</html>